
body{
    background-color: #f4f0f0
    min-width: 650px;
}
#mainContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 20px auto; /*centers container in screen*/
    padding: 0px
  
}

h1, h4, button{
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

h1 {
    color: gray;
}

h4 {
    color: #888585;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    background-color: #f4f2ee;
    color: gray;
    border-color: #c3c0c0;
}

.allDivs {
    box-sizing: border-box;
    border: 1px solid #ccc;
    
   
}